body
{
    background-color: whitesmoke;
    /*background: rgb(166,93,29);
    background: linear-gradient(118deg, rgba(166,93,29,1) 0%, rgba(242,121,77,1) 48%, rgba(210,233,237,1) 100%);
    /*background-image: url("./photos/velo_1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;*/
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin: 0px;
    padding: 0px;
}

nav
{
    background-color: #232323;
    width: 100%;
    color: white;
}


nav ul
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li
{
    list-style-type: none;
    float: left;
}

nav a
{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: white;
}

.menu :hover
{
    background-color: white;
    transition: ease;
    transition-duration: 0.4s;
    color: black;
}

div
{
    margin-left: 10px;
}

h2
{
    margin-left: 10px;
}

h3
{
    margin-left: 10px;
}

.photo
{
    width: 20%;
    transition: width 300ms ease;
    flex-grow: 1;
    border-radius: 10px;
}

.photo:hover
{
    width: 27%;
    cursor: pointer;
    border-radius: 5px;
}

.titre_photo
{
    border-color: black;
}

#searchBar
{
    margin-top: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    border-radius: 18px;
    padding-left: 4px;
    transition: width 300ms ease;
    width: 100%;
}

#searchBar:hover
{
    width: 110%;
}





.all_presentation
{
    width: 12%;
    cursor: pointer;
    transition: width 400ms ease;
    flex-grow: 1;
    height: 220px;
    object-fit: cover;
    margin-top: 50px;
    padding-left: 30px;
    transition-duration: 0.7s;
}

.all_presentation:hover
{
    width: 15%;
    height: auto;
}

.allButtons
{
    background-color: transparent;
    border-radius: 17px;
    color: black;
    transition: width 300ms ease;
    width: 10%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    text-decoration: none;
}

.allButtons:hover
{
    width: 13%;
}

.allButtons a
{
    text-decoration: none;
    color: black;
}

#allPresentation
{
    width: 100%;
}





.carButtons
{
    background-color: transparent;
    border-radius: 17px;
    color: black;
    transition: width 300ms ease;
    width: 10%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}


.carButtons:hover
{
    width: 13%;
}

.car_presentation
{
    width: 12%;
    cursor: pointer;
    transition: width 400ms ease;
    flex-grow: 1;
    height: 200px;
    object-fit: cover;
    margin-top: 50px;
    padding-left: 30px;
    transition-duration: 0.7s;
    
}

.car_presentation:hover
{
    width: 15%;
    height: auto;
}

.carButtons a
{
    text-decoration: none;
    color: black;
}




.naturalButtons
{
    background-color: transparent;
    border-radius: 17px;
    color: black;
    transition: width 300ms ease;
    width: 10%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.naturalButtons:hover
{
    width: 13%;
}

.naturalButtons a
{
    text-decoration: none;
    color: black;
}

.natural_presentation
{
    width: 230px;
    cursor: pointer;
    transition: width 400ms ease;
    flex-grow: 1;
    height: 120px;
    object-fit: cover;
    margin-top: 50px;
    padding-left: 30px;
    transition-duration: 0.7s;
    
}

.natural_presentation:hover
{
    width: 25%;
    height: auto;
}




.macroButtons
{
    background-color: transparent;
    border-radius: 17px;
    color: black;
    transition: width 300ms ease;
    width: 10%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}


.macroButtons:hover
{
    width: 13%;
}

.macro_presentation
{
    width: 12%;
    cursor: pointer;
    transition: width 400ms ease;
    flex-grow: 1;
    height: 200px;
    object-fit: cover;
    margin-top: 50px;
    padding-left: 30px;
    transition-duration: 0.7s;
    
    
}

.macro_presentation:hover
{
    width: 15%;
    height: auto;
}

.macroButtons a
{
    text-decoration: none;
    color: black;
}





#lorem
{
    color: transparent;
}

#searchIcon
{
    margin-top: 30px;
    width: 100%;
    margin-left: 18px;
    cursor: pointer;
}


#qcq
{
    text-align: center;
}



.qcq 
{
    text-align: center;
    align-content: center;
    align-items: center;
}

#qcqg
{
    width: 100%;
    text-align: center;
}

@media screen and (max-device-width: 480px) {
    body 
    {
        background-image: url("./photos/plage_corse_1.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        font-size: 1.8em;
        color: white;
    }

    nav 
    {
        padding-top: 17px;
        padding-bottom: 17px;
        font-size: 115%;
    }

    .photo
    {
        width: 40%;
        transition: width 300ms ease;
        flex-grow: 1;
        border-radius: 10px;
    }

    .photo:hover
    {
        width: 70%;
        border-radius: 5px;
    }
}